html {
    overflow-x: hidden;
}

body {
    font-family: 'Cormorant Garamond', serif;
    color: #fff;
    background-color: #111111;
    font-size: 18px;
    font-weight: 400;
    min-width: 100%;
    overflow-x: hidden;
    /*font-family: 'EB Garamond', serif;*/
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
}

/*Header*/

.page__main {
    background: url("images/bgc.png") no-repeat;
    background-size: cover;
    min-height: 100%;
    overflow: hidden;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
    padding: 39px 0;
    border-bottom: 1px solid #fff;
    align-items: center;
    margin: 0;
    transition: color 2s linear;
}

.header__href:hover {
    cursor: pointer;
    color: #CDAA7D;
    border-bottom: 1px solid #CDAA7D;
}


.title__content {
    margin-bottom: 102px;
}

.title__content h1{
    font-family: 'EB Garamond', serif;
    text-align: center;
    font-weight: 700;
    font-size: 72px;
    margin-bottom: 293px;
    margin-top: 260px;
}

.scroll__down {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 102px;
}

.scroll__down img {
    margin-right: 20px;
}


/*Всплывающее окно в header*/

.page__message {
    display: none;
    position: absolute;
    max-width: 475px;
    padding-top: 42px;
    padding-bottom: 246px;
    background-color: #111111;
}

.message__about span {
    font-family: 'EB Garamond', serif;
    font-weight: 700;
    font-size: 24px;
}

/*Страница с информацией (info)*/

.page__title img {
    margin-top: 120px;
    margin-bottom: 60px;
}

.info__text {
    margin-bottom: 115px;
}

.info__text p {
    font-family: 'EB Garamond', serif;
    font-weight: 700;
    font-size: 27px;
    text-align: center;
    max-width: 876px;
    margin: 30px auto;
}

.figure {
    text-align: left;
}

.figure img {
    max-width: 396px;
    max-height: 300px;
}

figure p {
    font-family: 'EB Garamond', serif;
    font-size: 30px;
    cursor: pointer;
}

.info__images {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-template-rows: repeat(2, minmax(150px, 1fr));
    justify-items: start;
    margin-bottom: 162px;
}

.info__logos {
    display: flex;
    justify-content: space-around;
    margin-bottom: 180px;
    opacity: 50%;
}

.images__shadow {
    position: relative;
    border: 1px solid #CDAA7D;
}

.shadow {
    position: relative;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

/*Страница работ (works)*/

.page__works {
    margin-bottom: 100px;
}

.page__title {
    font-family: 'EB Garamond', serif;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
}

.work__title {
    margin-bottom: 80px;
}

.works__info {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.works__href:hover {
    cursor: pointer;
    color: #CDAA7D;
    border-bottom: 1px solid #CDAA7D;
}

.works__images {
    display: grid;
    grid-template-columns: repeat(3 , minmax(150px, 1fr));
    grid-template-rows: repeat(3, minmax(150px, 1fr));
    gap: 24px;
}

.works__img:hover {
    cursor: pointer;
}

/*Footer*/

.footer__inner {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}

.footer__inner img {
    height: 60px;
}

.footer__text span{
    font-family: 'EB Garamond', serif;
    font-size: 24px;
    font-weight: 700;
}

.footer__inst p {
    font-family: 'EB Garamond', serif;
    font-size: 24px;
    font-weight: 700;
}

.footer__inst img {
    width: 36px;
    height: 36px;
}

.footer__out {
    text-align: center;
    padding: 30px 0;
    opacity: 50%;
}

.footer__out span {
    font-weight: 700;
}

/*Контаинер*/

.container {
    max-width: 1326px;
    margin: 0 auto;
    padding: 0 15px;
}


/*-----MEDIA-----*/


@media (max-width: 1295px) {
    
    /*Header*/

    .header__inner {
        font-size: 24px;
    }

    .title__content h1 {
        font-size: 82px;
    }

    .scroll__down {
        font-size: 24px;
    }

    /*Info*/

    .info__text p {
        font-size: 32px;
    }
    
    .info__images {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
        justify-items: center;
    }

    /*Works*/

    .works__info {
        font-size: 28px;
    }

    .works__images {
        grid-template-columns: repeat(2 , minmax(150px, 1fr));
        justify-items: center;
    }

    .works__hidden {
        display: none;
    }

    /*Footer*/

    .footer__text span {
        font-size: 26px;
    }

    .footer__text p {
        font-size: 26px;
    }

}

@media (max-width: 999px) {

    /*Footer*/

    .footer__inner img {
        display: none;
    }

    .footer__inner {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

}

@media (max-width: 871px) {

    /*Header*/

    .header__inner {
        justify-content: space-between;
    }
 
    .header__inst {
        width: 40px;
        height: 40px;
    }

     .media__hidde {
         display: none;
    }

    /*Info*/

    .info__images {
        grid-template-columns: repeat(1 , minmax(80px, 1fr));
    }

    /*Works*/
    .works__images {
        grid-template-columns: repeat(1 , minmax(150px, 1fr));
    }

}

@media (max-width: 694px) {
    
    /*Header*/

    .title__content h1 {
        margin-bottom: 193px;
        margin-top: 160px;
        font-size: 52px;
    }

    .scroll__down {
        padding-bottom: 62px;
        font-size: 18px;
    }

    /*Info*/

    .page__title img {
        margin-top: 60px;
        margin-bottom: 30px;
    }

    figure p {
        font-size: 24px;
    }

    .info__logos {
        display: none;
    }

    .info__text p {
        font-size: 19px;
    }

    /*Works*/

    .work__title {
        font-size: 40px;
    }

    .works__info {
        display: none;
    }

    /*Footer*/

    .footer__inner {
        padding: 60px 0;
    }

    .footer__text span {
        font-size: 20px;
    }

    .footer__text p {
        font-size: 20px;
    }

    .footer__out {
        font-size: 16px;
        padding: 20px 0;
    }
}

@media (max-width: 456px) {

    /*Header*/

    .header__inst {
        height: 35px;
        width: 35px;
    }

    .header__logo {
        height: 35px;
        width: 35px;
    }

    .title__content h1 {
        font-size: 40px;
    }

    /*Info*/

    .info__images {
        margin-bottom: 80px;
    }

    .shadow {
        max-width: 330px;
    }

    /*Works*/

    .works__img {
        max-width: 330px;
    }

}

@media (max-width: 378px) {

    /*Info*/

    .info__text {
        margin-bottom: 85px;
    }

    .shadow {
        max-width: 230px;
    }

    /*Works*/

    .works__img {
        max-width: 230px;
    }
}